%h1 Teams

Season: #{select("season", :id, @season_links, {:selected => request.fullpath }, { :class => "redirect_to" })}
%div#divisions
  = render :partial => 'division', :collection => @divisions, :locals => { :teams => @teams }
%br/
= # 'Add New Team', new_admin_team_path(:season_id => @season.id), :remote => :true


