%h1 Events

Season: #{select("season", :id, @season_links, {:selected => request.fullpath }, { :class => "redirect_to" })}
Division: #{select("division", :id, @division_links, {:selected => request.fullpath }, { :class => "redirect_to" })}
%table
  %tr
    %th Date
    %th Time
    %th Summary
    %th Status
    %th Venue
    %th Actions
  = render :partial => 'event', :collection => @events

%br/
= link_to 'New Hockey Game', new_admin_hockey_game_path(:season_id => @season.id)


