<!DOCTYPE html>
<html>
<head>
  <title>Score</title>
  <%= stylesheet_link_tag    "score/application" %>
  <%= javascript_include_tag "score/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
